@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

#footer-component{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-self: center;
   cursor: auto;

   & ul{
      padding: 0;

      & li{

         & p{
            color: #fff;
            font-family: inherit;

            & span{
                position: relative;

                & i{
                    color: rgba(0, 0, 0,0.8);
                    @include filter(drop-shadow(0px 1px 10px #fff));
                    position: absolute;
                    top: 0.15em;
                    left: -0.1em;
                }

                & span{
                    color: rgba(139, 0, 0,1);
                    z-index: 1;
                }
            }
         }
      }
   }
}