@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

#search-component{
    color: $secondary_color;
    width: 100%;
    max-width: 50%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: auto;
    @include transition(all 0.5s cubic-bezier(0.5,-0.3,0,1) );

    @include media(S){
        max-width: 100%;
    }

    & .query{
        min-height: 25px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        position: relative;

        & > h6{
            font-family: capriola,sans-serif;
            font-size: 1.5em;
            margin: 0 auto;
            color: rgba(255, 215, 0,1);
            font-weight: lighter;
        }

        & > span{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            height: 2px;
            background-color: rgba(218, 165, 32,1);
            @include transition(all 1.5s cubic-bezier(0.5,-0.3,0,1));
        }

        &.good > span{
            background-color: rgba(50, 205, 50,1);
        }

        &.ok > span{
            background-color: rgba(50, 205, 50,1);
        }

        &.bad > span{
            background-color: rgba(220, 20, 60,1);
        }

    }

    .search-component-enter-active{
        @include animation(s-slide-fade,1.5s cubic-bezier(0.3,-0.5,0,1) forwards);
    }
    .search-component-leave-active{
        @include animation(s-slide-fade,1.5s cubic-bezier(0.5,-0.5,0,1) forwards reverse 1.6s);
    }
        @include keyframes (s-slide-fade) {
            0%{@include translate(0,-30vh);}
            100%{@include translate(0,0);}
        }
    /** ----------------------------*/
    & .search-group{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include transition(all 0.5s cubic-bezier(0.5,-0.3,0,1) );

        &.blur{
            @include opacity(0.5);
            pointer-events: none;
            @include translate(0,-30vh);
        }

        &.back{
            -webkit-transition-delay: 2s;
            transition-delay: 2s;
        }

        & input{
            width: 100%;
            min-height: 30px;
            padding: 7px 15px;
            text-align: center;
            font-size: 1.3em;
            @include border(0px solid #daa520);
            @include border-radius(50px);
            @include filter(drop-shadow(0 0 3px rgba(218, 165, 32,1)));
            @include transition(all 0.3s cubic-bezier(0.5,-0.3,0,1));

            &:focus{
                @include box-shadow(0px 0px 4px 1px inset rgba(0, 0, 0,1));
            }

            & + button{
                position: absolute;
                right: 0px;
                background-color: transparent;
                border: none;
                @include border-radius(0px 20px 20px 0px);
                padding: 8px 25px;
                @include box-shadow(-1px 0px 3px rgba(30,30,30,1) );
                cursor: pointer;
                @include transition(all 0.2s cubic-bezier(0.5,-0.3,0,1));

                &:hover{
                    background-color: rgba(130,130,130,1);
                }

                &:target,&:active{
                    background-color: rgba(200,200,200,1)
                }

                & i{
                    font-size: 1.4em;
                    color: rgba(218, 165, 32,1);
                }
            }
        }
    }

    & h1{
        color: #fff;
    }
}
